body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0px;
	background-color:  #f2f2f2 ;
}

header {
	background-color: black;
}

img {                
    min-width: 100px;
	height: auto;
	width: 50px;
	position: absolute;
	background-color: black;
	border-radius: 100px;
	margin-inline: -10px;
	margin-block: -15px;
}


.menu {
    display: flex;                
    padding: 0;                    
    justify-content: space-between;
}

.menu a {
    display: block;                
    min-width: 120px;              
    margin: 0.5rem;               
    padding: 0.4rem 0;            
    text-align: center;           
    background-color: #808080;    
    color: #FFFFFF;                 
    text-decoration: none;       
    border: 1px solid #FFFFFF;      
    border-radius: 20px;    
}

.menu a.actif {    
    background-color: #000000 ; 
    color: #808080 ;
    border-color: #808080 ;
}

.menu a:hover,
.menu a:hover.actif{
    background-color: #FF0000;
    color: #FFE843;
    border-color: #FFE843;
}

.container {
	display: flex;
	justify-content: space-around;
	margin: auto;
}

@media (max-width: 835px) {

    .boutonprincipal {
        background: none;
        float: left;
        border: none;
        color: black;
	}
}